<section>
<style type="text/css">

@import url(http://fonts.googleapis.com/css?family=Droid+Sans);
@import url(http://fonts.googleapis.com/css?family=Raleway: 200,400,600,800);
@import url(http://fonts.googleapis.com/css?family=Lato);

/* responsivo */
@import url("modules/core/css/800.css") (min-width: 780px);
@import url("modules/core/css/1024.css") (min-width: 1020px);
@import url("modules/core/css/1280.css") (min-width: 1270px);
@import url("modules/core/css/1440.css") (min-width: 1430px);
/* fim responsivo */

@import url("modules/core/css/base.css");

</style>

<body>
<section data-ng-controller="HomeController" data-ng-init="find()">

<section data-ng-controller="EmailsController">
<div class="segblocomenu">
  <div class="blocomenu">
   
      
          <div class="subscribe">

            <form class="subscribe-form" data-ng-submit="createEmailOnHome()" >
              <input type="email" data-ng-model="email" id="email" name="email" class="{submitted:emailCreated} subscribe-input" placeholder="Cadastre-se e receba uma oferta surpresa!" autofocus required>
              <button type="submit" class="subscribe-submit"></button>
            </form>
              
          </div>
        
      
      <div class="seloemail"><img src="modules/core/img/imail.png" /></div>

      <a href="" ng-click="selectCategoria('roupas')" class="menu" id="roupas">Roupas e Acessórios</a>
      <a href="" ng-click="selectCategoria('eletronicos')" class="menu" id="eletronicos">Eletrônicos</a>
      <a href="" ng-click="selectTopItems('top')" class="menu" id="top">Top Ofertas</a> 
    
    <div class="logo">iOfferta</div>

  </div>
</div>

<div class="segura">
    <div ng-show="emailCreated" class="alert alert-success" role="alert">
        <span style="font-size: 19px;">Obrigado por se cadastrar, em breve enviaremos super ofertas para você!</span>
    </div>

</section>
    
    
<div class="segura"><div class="topofertas">As melhores ofertas da Internet</div></div>

<div class="segura">




  <div data-ng-repeat="landingpage in landingpages" style="float:left;" ng-if="!landingpage.novidade">

    <a href="{{landingpage.link}}" class="thumb" target="blank"> 
        
    <div class="thumb-img"> 

      <img src="../../../images/{{landingpage.imagem}}"  class="imgprd" border="0" align="center" />

      <div class="tt">{{landingpage.nome}}</div>
      <div class="tt2">
        <span class="ttofertapp">R$ {{landingpage.precoDe}}</span><span class="ttbarra"> |  R$</span> {{landingpage.precoParaInteiro}}<span class="ttbarra">{{landingpage.precoParaCentavos}}</span>
      </div>              

      <div class="thumb-over">
        <div class="selo">
          <span class="ttbarra">-</span>{{landingpage.desconto}}<span class="percentual">%</span>
        </div>
            
        <div class="contover">
          <div class="contovertt">{{landingpage.nome}}</div>
          <div class="contoverdesc">{{landingpage.descricao}}</div>
          <div class="contoverprice">
            <span class="ttofertapp">R$ {{landingpage.precoDe}}</span><span class="ttbarra"> |  R$</span> {{landingpage.precoParaInteiro}}<span class="ttbarra">{{landingpage.precoParaCentavos}}</span>
         </div>                       
        </div>
      </div>  
    </div>
    </a>   

  </div> 


</div>




<div class="row" style="width: 10px;">&nbsp;</div>





<div class="segura"><div class="topofertas" ng-if="landingpage.length !==0">Novidades</div></div>

<div class="segura">




  <div data-ng-repeat="landingpage in landingpages" style="float:left;" ng-if="landingpage.novidade">

    <a href="{{landingpage.link}}" class="thumb" target="blank" > 
        
    <div class="thumb-img"> 

      <img src="../../../images/{{landingpage.imagem}}"  class="imgprd" border="0" align="center" />

      <div class="tt">{{landingpage.nome}}</div>
      <div class="tt2">
        <span class="ttofertapp">R$ {{landingpage.precoDe}}</span><span class="ttbarra"> |  R$</span> {{landingpage.precoParaInteiro}}<span class="ttbarra">{{landingpage.precoParaCentavos}}</span>
      </div>              

      <div class="thumb-over">
        <div class="selo">
          <span class="ttbarra">-</span>{{landingpage.desconto}}<span class="percentual">%</span>
        </div>
            
        <div class="contover">
          <div class="contovertt">{{landingpage.nome}}</div>
          <div class="contoverdesc">{{landingpage.descricao}}</div>
          <div class="contoverprice">
            <span class="ttofertapp">R$ {{landingpage.precoDe}}</span><span class="ttbarra"> |  R$</span> {{landingpage.precoParaInteiro}}<span class="ttbarra">{{landingpage.precoParaCentavos}}</span>
         </div>                       
        </div>
      </div>  
    </div>
    </a>   

  </div> 
</section>

</div>


</div>

<div class="row" style="width: 10px;">&nbsp;</div>


<div id="topo2"><!--<center><img src="modules/core/img/banner.jpg" align="center" /></center>--></div>



<div id="topo3"><center>Todos os direitos são reservados - <a href="#" style="color: #3e4040;"> Fale Conosco</a> | <a href="#" style="color: #3e4040; ">Anuncie</a></center></div>


</section>
