<section data-ng-controller="HomeController">
<style type="text/css">

@import url(http://fonts.googleapis.com/css?family=Droid+Sans);
@import url(http://fonts.googleapis.com/css?family=Raleway: 200,400,600,800);
@import url(http://fonts.googleapis.com/css?family=Lato);

/* responsivo */
@import url("modules/core/css/800.css") (min-width: 780px);
@import url("modules/core/css/1024.css") (min-width: 1020px);
@import url("modules/core/css/1280.css") (min-width: 1270px);
@import url("modules/core/css/1440.css") (min-width: 1430px);
/* fim responsivo */

@import url("modules/core/css/base.css");

</style>

<body>

<section data-ng-controller="EmailsController">
<div class="segblocomenu">
  <div class="blocomenu">
   
      
          <div class="subscribe">

            <form class="subscribe-form" data-ng-submit="createEmailOnHome()" >
              <input type="email" data-ng-model="email" id="email" name="email" class="{submitted:emailCreated} subscribe-input" placeholder="Cadastre-se e receba uma oferta surpresa!" autofocus required>
              <button type="submit" class="subscribe-submit"></button>
            </form>
              
          </div>
        
      
      <div class="seloemail"><img src="modules/core/img/imail.png" /></div>

      <a href="#" class="menu">Roupas e Acessórios</a>
      <a href="#" class="menu">Eletrônicos</a>
      <a href="#" class="menu">Top Ofertas</a> 
    
    <div class="logo">iOfferta</div>

  </div>
</div>

<div class="segura">
    <div ng-show="emailCreated" class="alert alert-success" role="alert">
        <span style="font-size: 19px;">obrigado por se cadastrar, em breve enviaremos super ofertas para você!</span>
    </div>

<!--    <div ng-show="emailCreated" class="topofertas">obrigado por se cadastrar, em breve enviaremos super ofertas para você!</div></div>-->
</section>
    
    
<div class="segura"><div class="topofertas">As melhores ofertas da Internet</div></div>

<div class="segura">
  

<!--  Produto --> 
<a href="#" class="thumb"> 
    
<div class="thumb-img"> 

  <img src="https://s3-sa-east-1.amazonaws.com/produtodireto/popunder/imagens/s4.jpg"  class="imgprd" border="0" align="center" />

  <div class="tt">Smarthphone S4 Dual</div>
  <div class="tt2">
    <span class="ttofertapp">R$ 999,90</span><span class="ttbarra"> |  R$</span> 149<span class="ttbarra">,90</span>
  </div>              

  <div class="thumb-over">
    <div class="selo">
      <span class="ttbarra">-</span>25<span class="percentual">%</span>
    </div>
        
    <div class="contover">
      <div class="contovertt">Smarthphone S4 Dual</div>
      <div class="contoverdesc">Internet WiFi, Tv, 2 chips, 2 Câmeras, Facebook, desbloqueado.</div>
      <div class="contoverprice">
	<span class="ttofertapp">R$ 999,90</span><span class="ttbarra"> |  R$</span> 149<span class="ttbarra">,90</span>
     </div>                       
    </div>
  </div>  
</div>
</a>    
<!-- Fim Produto --> 


<!--  Produto --> 
<a href="#" class="thumb"> 

<div class="thumb-img"> 

  <img src="https://s3-sa-east-1.amazonaws.com/produtodireto/popunder/images/tabletgps.jpg"  class="imgprd" border="0" align="center" />

  <div class="tt">Smarthphone S4 Dual</div>
  <div class="tt2">
     <span class="ttofertapp">R$ 999,90</span><span class="ttbarra"> |  R$</span> 149<span class="ttbarra">,90</span>
  </div>

  <div class="thumb-over">
    <div class="selo">
      <span class="ttbarra">-</span>25<span class="percentual">%</span>
    </div>
        
    <div class="contover">
      <div class="contovertt">Smarthphone S4 Dual</div>
      <div class="contoverdesc">Internet WiFi, Tv, 2 chips, 2 Câmeras, Facebook, desbloqueado.</div>
        <div class="contoverprice">
	       <span class="ttofertapp">R$ 999,90</span><span class="ttbarra"> |  R$</span> 149<span class="ttbarra">,90</span>
        </div>                       
    </div>
  </div>  
</div>
</a>    
<!-- Fim Produto --> 



<!--  Produto --> 
<a href="#" class="thumb"> 

<div class="thumb-img"> 

  <img src="https://s3-sa-east-1.amazonaws.com/produtodireto/popunder/imagens/hp6.jpg"  class="imgprd" border="0" align="center" />

  <div class="tt">Smarthphone S4 Dual</div>
  <div class="tt2">
     <span class="ttofertapp">R$ 999,90</span><span class="ttbarra"> |  R$</span> 149<span class="ttbarra">,90</span>
  </div>

  <div class="thumb-over">
    <div class="selo">
      <span class="ttbarra">-</span>25<span class="percentual">%</span>
    </div>
        
    <div class="contover">
      <div class="contovertt">Smarthphone S4 Dual</div>
      <div class="contoverdesc">Internet WiFi, Tv, 2 chips, 2 Câmeras, Facebook, desbloqueado.</div>
      <div class="contoverprice">
	<span class="ttofertapp">R$ 999,90</span><span class="ttbarra"> |  R$</span> 149<span class="ttbarra">,90</span>
     </div>                       
    </div>
  </div>  
</div>
</a>    
<!-- Fim Produto --> 



<!--  Produto --> 
<a href="#" class="thumb"> 

<div class="thumb-img"> 

  <img src="https://s3-sa-east-1.amazonaws.com/produtodireto/popunder/imagens/n920.jpg"  class="imgprd" border="0" align="center" />

  <div class="tt">Smarthphone S4 Dual</div>
  <div class="tt2">
     <span class="ttofertapp">R$ 999,90</span><span class="ttbarra"> |  R$</span> 149<span class="ttbarra">,90</span>
  </div>

  <div class="thumb-over">
    <div class="selo">
      <span class="ttbarra">-</span>25<span class="percentual">%</span>
    </div>
        
    <div class="contover">
      <div class="contovertt">Smarthphone S4 Dual</div>
      <div class="contoverdesc">Internet WiFi, Tv, 2 chips, 2 Câmeras, Facebook, desbloqueado.</div>
      <div class="contoverprice">
	<span class="ttofertapp">R$ 999,90</span><span class="ttbarra"> |  R$</span> 149<span class="ttbarra">,90</span>
     </div>                       
    </div>
  </div>  
</div>
</a>    
<!-- Fim Produto --> 



<!--  Produto --> 
<a href="#" class="thumb"> 

<div class="thumb-img"> 

  <img src="https://s3-sa-east-1.amazonaws.com/produtodireto/popunder/imagens/s3.jpg"  class="imgprd" border="0" align="center" />

  <div class="tt">Smarthphone S4 Dual</div>
  <div class="tt2">
     <span class="ttofertapp">R$ 999,90</span><span class="ttbarra"> |  R$</span> 149<span class="ttbarra">,90</span>
  </div>

  <div class="thumb-over">
    <div class="selo">
      <span class="ttbarra">-</span>25<span class="percentual">%</span>
    </div>
        
    <div class="contover">
      <div class="contovertt">Smarthphone S4 Dual</div>
      <div class="contoverdesc">Internet WiFi, Tv, 2 chips, 2 Câmeras, Facebook, desbloqueado.</div>
      <div class="contoverprice">
	<span class="ttofertapp">R$ 999,90</span><span class="ttbarra"> |  R$</span> 149<span class="ttbarra">,90</span>
     </div>                       
    </div>
  </div>  
</div>
</a>    
<!-- Fim Produto --> 



<!--  Produto --> 
<a href="#" class="thumb"> 

<div class="thumb-img"> 

  <img src="https://s3-sa-east-1.amazonaws.com/produtodireto/popunder/images/modelador.jpg"  class="imgprd" border="0" align="center" />

  <div class="tt">Smarthphone S4 Dual</div>
  <div class="tt2">
     <span class="ttofertapp">R$ 999,90</span><span class="ttbarra"> |  R$</span> 149<span class="ttbarra">,90</span>
  </div>

  <div class="thumb-over">
    <div class="selo">
      <span class="ttbarra">-</span>25<span class="percentual">%</span>
    </div>
        
    <div class="contover">
      <div class="contovertt">Smarthphone S4 Dual</div>
      <div class="contoverdesc">Internet WiFi, Tv, 2 chips, 2 Câmeras, Facebook, desbloqueado.</div>
      <div class="contoverprice">
	<span class="ttofertapp">R$ 999,90</span><span class="ttbarra"> |  R$</span> 149<span class="ttbarra">,90</span>
     </div>                       
    </div>
  </div>  
</div>
</a>    
<!-- Fim Produto --> 



<!--  Produto --> 
<a href="#" class="thumb"> 

<div class="thumb-img"> 

  <img src="https://s3-sa-east-1.amazonaws.com/produtodireto/popunder/images/gpstv.jpg"  class="imgprd" border="0" align="center" />

  <div class="tt">Smarthphone S4 Dual</div>
  <div class="tt2">
     <span class="ttofertapp">R$ 999,90</span><span class="ttbarra"> |  R$</span> 149<span class="ttbarra">,90</span>
  </div>

  <div class="thumb-over">
    <div class="selo">
      <span class="ttbarra">-</span>25<span class="percentual">%</span>
    </div>
        
    <div class="contover">
      <div class="contovertt">Smarthphone S4 Dual</div>
      <div class="contoverdesc">Internet WiFi, Tv, 2 chips, 2 Câmeras, Facebook, desbloqueado.</div>
      <div class="contoverprice">
	<span class="ttofertapp">R$ 999,90</span><span class="ttbarra"> |  R$</span> 149<span class="ttbarra">,90</span>
     </div>                       
    </div>
  </div>  
</div>
</a>    
<!-- Fim Produto --> 



<!--  Produto --> 
<a href="#" class="thumb"> 

<div class="thumb-img"> 

  <img src="https://s3-sa-east-1.amazonaws.com/produtodireto/popunder/imagens/netbook.jpg"  class="imgprd" border="0" align="center" />

  <div class="tt">Smarthphone S4 Dual</div>
  <div class="tt2">
     <span class="ttofertapp">R$ 999,90</span><span class="ttbarra"> |  R$</span> 149<span class="ttbarra">,90</span>
  </div>

  <div class="thumb-over">
    <div class="selo">
      <span class="ttbarra">-</span>25<span class="percentual">%</span>
    </div>
        
    <div class="contover">
      <div class="contovertt">Smarthphone S4 Dual</div>
      <div class="contoverdesc">Internet WiFi, Tv, 2 chips, 2 Câmeras, Facebook, desbloqueado.</div>
      <div class="contoverprice">
	<span class="ttofertapp">R$ 999,90</span><span class="ttbarra"> |  R$</span> 149<span class="ttbarra">,90</span>
     </div>                       
    </div>
  </div>  
</div>
</a>    
<!-- Fim Produto --> 



<!--  Produto --> 
<a href="#" class="thumb"> 

<div class="thumb-img"> 

  <img src="https://s3-sa-east-1.amazonaws.com/produtodireto/popunder/imagens/hp5.jpg"  class="imgprd" border="0" align="center" />

  <div class="tt">Smarthphone S4 Dual</div>
  <div class="tt2">
     <span class="ttofertapp">R$ 999,90</span><span class="ttbarra"> |  R$</span> 149<span class="ttbarra">,90</span>
  </div>

  <div class="thumb-over">
    <div class="selo">
      <span class="ttbarra">-</span>25<span class="percentual">%</span>
    </div>
        
    <div class="contover">
      <div class="contovertt">Smarthphone S4 Dual</div>
      <div class="contoverdesc">Internet WiFi, Tv, 2 chips, 2 Câmeras, Facebook, desbloqueado.</div>
      <div class="contoverprice">
	<span class="ttofertapp">R$ 999,90</span><span class="ttbarra"> |  R$</span> 149<span class="ttbarra">,90</span>
     </div>                       
    </div>
  </div>  
</div>
</a>    
<!-- Fim Produto --> 



<!--  Produto --> 
<a href="#" class="thumb"> 

<div class="thumb-img"> 

  <img src="https://s3-sa-east-1.amazonaws.com/produtodireto/popunder/imagens/Berry.jpg"  class="imgprd" border="0" align="center" />

  <div class="tt">Smarthphone S4 Dual</div>
  <div class="tt2">
     <span class="ttofertapp">R$ 999,90</span><span class="ttbarra"> |  R$</span> 149<span class="ttbarra">,90</span>
  </div>

  <div class="thumb-over">
    <div class="selo">
      <span class="ttbarra">-</span>25<span class="percentual">%</span>
    </div>
        
    <div class="contover">
      <div class="contovertt">Smarthphone S4 Dual</div>
      <div class="contoverdesc">Internet WiFi, Tv, 2 chips, 2 Câmeras, Facebook, desbloqueado.</div>
      <div class="contoverprice">
	<span class="ttofertapp">R$ 999,90</span><span class="ttbarra"> |  R$</span> 149<span class="ttbarra">,90</span>
     </div>                       
    </div>
  </div>  
</div>
</a>    
<!-- Fim Produto --> 



<!--  Produto --> 
<a href="#" class="thumb"> 

<div class="thumb-img"> 

  <img src="https://s3-sa-east-1.amazonaws.com/produtodireto/popunder/images/Chapinha2.jpg"  class="imgprd" border="0" align="center" />

  <div class="tt">Smarthphone S4 Dual</div>
  <div class="tt2">
     <span class="ttofertapp">R$ 999,90</span><span class="ttbarra"> |  R$</span> 149<span class="ttbarra">,90</span>
  </div>

  <div class="thumb-over">
    <div class="selo">
      <span class="ttbarra">-</span>25<span class="percentual">%</span>
    </div>
        
    <div class="contover">
      <div class="contovertt">Smarthphone S4 Dual</div>
      <div class="contoverdesc">Internet WiFi, Tv, 2 chips, 2 Câmeras, Facebook, desbloqueado.</div>
      <div class="contoverprice">
	<span class="ttofertapp">R$ 999,90</span><span class="ttbarra"> |  R$</span> 149<span class="ttbarra">,90</span>
     </div>                       
    </div>
  </div>  
</div>
</a>    
<!-- Fim Produto --> 



<!--  Produto --> 
<a href="#" class="thumb"> 

<div class="thumb-img"> 

  <img src="https://s3-sa-east-1.amazonaws.com/produtodireto/popunder/imagens/TabletCelular1.jpg"  class="imgprd" border="0" align="center" />

  <div class="tt">Smarthphone S4 Dual</div>
  <div class="tt2">
     <span class="ttofertapp">R$ 999,90</span><span class="ttbarra"> |  R$</span> 149<span class="ttbarra">,90</span>
  </div>

  <div class="thumb-over">
    <div class="selo">
      <span class="ttbarra">-</span>25<span class="percentual">%</span>
    </div>
        
    <div class="contover">
      <div class="contovertt">Smarthphone S4 Dual</div>
      <div class="contoverdesc">Internet WiFi, Tv, 2 chips, 2 Câmeras, Facebook, desbloqueado.</div>
      <div class="contoverprice">
	<span class="ttofertapp">R$ 999,90</span><span class="ttbarra"> |  R$</span> 149<span class="ttbarra">,90</span>
     </div>                       
    </div>
  </div>  
</div>
</a>    
<!-- Fim Produto --> 


</div>   






<div class="segura"><div class="topofertas">Novidades</div></div>


<div class="segura">
  
  
  

<!--  Produto --> 
<a href="#" class="thumb"> 

<div class="thumb-img"> 

  <img src="https://s3-sa-east-1.amazonaws.com/produtodireto/popunder/images/celulite.jpg"  class="imgprd" border="0" align="center" />

  <div class="tt">Smarthphone S4 Dual</div>
  <div class="tt2">
     <span class="ttofertapp">R$ 999,90</span><span class="ttbarra"> |  R$</span> 149<span class="ttbarra">,90</span>
  </div>

  <div class="thumb-over">
    <div class="selo">
      <span class="ttbarra">-</span>25<span class="percentual">%</span>
    </div>
        
    <div class="contover">
      <div class="contovertt">Smarthphone S4 Dual</div>
      <div class="contoverdesc">Internet WiFi, Tv, 2 chips, 2 Câmeras, Facebook, desbloqueado.</div>
      <div class="contoverprice">
	<span class="ttofertapp">R$ 999,90</span><span class="ttbarra"> |  R$</span> 149<span class="ttbarra">,90</span>
     </div>                       
    </div>
  </div>  
</div>
</a>    
<!-- Fim Produto --> 


<!--  Produto --> 
<a href="#" class="thumb"> 

<div class="thumb-img"> 

  <img src="https://s3-sa-east-1.amazonaws.com/produtodireto/popunder/imagens/android.jpg"  class="imgprd" border="0" align="center" />

  <div class="tt">Smarthphone S4 Dual</div>
  <div class="tt2">
     <span class="ttofertapp">R$ 999,90</span><span class="ttbarra"> |  R$</span> 149<span class="ttbarra">,90</span>
  </div>

  <div class="thumb-over">
    <div class="selo">
      <span class="ttbarra">-</span>25<span class="percentual">%</span>
    </div>
        
    <div class="contover">
      <div class="contovertt">Smarthphone S4 Dual</div>
      <div class="contoverdesc">Internet WiFi, Tv, 2 chips, 2 Câmeras, Facebook, desbloqueado.</div>
      <div class="contoverprice">
	<span class="ttofertapp">R$ 999,90</span><span class="ttbarra"> |  R$</span> 149<span class="ttbarra">,90</span>
     </div>                       
    </div>
  </div>  
</div>
</a>    
<!-- Fim Produto --> 



<!--  Produto --> 
<a href="#" class="thumb"> 

<div class="thumb-img"> 

  <img src="https://s3-sa-east-1.amazonaws.com/produtodireto/popunder/imagens/relogiocelular.jpg"  class="imgprd" border="0" align="center" />

  <div class="tt">Smarthphone S4 Dual</div>
  <div class="tt2">
     <span class="ttofertapp">R$ 999,90</span><span class="ttbarra"> |  R$</span> 149<span class="ttbarra">,90</span>
  </div>

  <div class="thumb-over">
    <div class="selo">
      <span class="ttbarra">-</span>25<span class="percentual">%</span>
    </div>
        
    <div class="contover">
      <div class="contovertt">Smarthphone S4 Dual</div>
      <div class="contoverdesc">Internet WiFi, Tv, 2 chips, 2 Câmeras, Facebook, desbloqueado.</div>
      <div class="contoverprice">
	<span class="ttofertapp">R$ 999,90</span><span class="ttbarra"> |  R$</span> 149<span class="ttbarra">,90</span>
     </div>                       
    </div>
  </div>  
</div>
</a>    
<!-- Fim Produto --> 



<!--  Produto --> 
<a href="#" class="thumb"> 

<div class="thumb-img"> 

  <img src="https://s3-sa-east-1.amazonaws.com/produtodireto/popunder/imagens/One2.jpg"  class="imgprd" border="0" align="center" />

  <div class="tt">Smarthphone S4 Dual</div>
  <div class="tt2">
     <span class="ttofertapp">R$ 999,90</span><span class="ttbarra"> |  R$</span> 149<span class="ttbarra">,90</span>
  </div>

  <div class="thumb-over">
    <div class="selo">
      <span class="ttbarra">-</span>25<span class="percentual">%</span>
    </div>
        
    <div class="contover">
      <div class="contovertt">Smarthphone S4 Dual</div>
      <div class="contoverdesc">Internet WiFi, Tv, 2 chips, 2 Câmeras, Facebook, desbloqueado.</div>
      <div class="contoverprice">
	<span class="ttofertapp">R$ 999,90</span><span class="ttbarra"> |  R$</span> 149<span class="ttbarra">,90</span>
     </div>                       
    </div>
  </div>  
</div>
</a>    
<!-- Fim Produto --> 



<!--  Produto --> 
<a href="#" class="thumb"> 

<div class="thumb-img"> 

  <img src="https://s3-sa-east-1.amazonaws.com/produtodireto/popunder/imagens/tablet.jpg"  class="imgprd" border="0" align="center" />

  <div class="tt">Smarthphone S4 Dual</div>
  <div class="tt2">
     <span class="ttofertapp">R$ 999,90</span><span class="ttbarra"> |  R$</span> 149<span class="ttbarra">,90</span>
  </div>

  <div class="thumb-over">
    <div class="selo">
      <span class="ttbarra">-</span>25<span class="percentual">%</span>
    </div>
        
    <div class="contover">
      <div class="contovertt">Smarthphone S4 Dual</div>
      <div class="contoverdesc">Internet WiFi, Tv, 2 chips, 2 Câmeras, Facebook, desbloqueado.</div>
      <div class="contoverprice">
	<span class="ttofertapp">R$ 999,90</span><span class="ttbarra"> |  R$</span> 149<span class="ttbarra">,90</span>
     </div>                       
    </div>
  </div>  
</div>
</a>    
<!-- Fim Produto --> 



<!--  Produto --> 
<a href="#" class="thumb"> 

<div class="thumb-img"> 

  <img src="https://s3-sa-east-1.amazonaws.com/produtodireto/popunder/imagens/Oriole.jpg"  class="imgprd" border="0" align="center" />

  <div class="tt">Smarthphone S4 Dual</div>
  <div class="tt2">
     <span class="ttofertapp">R$ 999,90</span><span class="ttbarra"> |  R$</span> 149<span class="ttbarra">,90</span>
  </div>

  <div class="thumb-over">
    <div class="selo">
      <span class="ttbarra">-</span>25<span class="percentual">%</span>
    </div>
        
    <div class="contover">
      <div class="contovertt">Smarthphone S4 Dual</div>
      <div class="contoverdesc">Internet WiFi, Tv, 2 chips, 2 Câmeras, Facebook, desbloqueado.</div>
      <div class="contoverprice">
	<span class="ttofertapp">R$ 999,90</span><span class="ttbarra"> |  R$</span> 149<span class="ttbarra">,90</span>
     </div>                       
    </div>
  </div>  
</div>
</a>    
<!-- Fim Produto --> 


</div>


<div id="topo2"><center><img src="modules/core/img/banner.jpg" align="center" /></center></div>



<div id="topo3"><center>Todos os direitos são reservados <br /><br /><a href="#" style="color: #3e4040;"> Fale Conosco</a> | <a href="#" style="color: #3e4040; ">Anuncie</a></center></div>


</section>
