/* o que muda */
.blocomenu  {max-width: 1000px; height: 63px;}
.segura     { max-width: 980px;}
.subscribe  { width: 44%;}
.thumb, .thumb-img, .thumb-over, .minhadiv {height: 241px; width: 189px;}
.imgprd {width:187px;}
.selo   {margin-bottom:4px;}
.contovertt {font-size:17px;}
.contover { margin-top: 55px; width: 187px;}
.tt {padding:5px 8px 0 8px; font-size:18px;}