/* o que muda */
.blocomenu  {max-width: 1250px; height: 63px;}
.segura     { max-width: 1200px;}
.subscribe  { width: 40%;}
.thumb, .thumb-img, .thumb-over, .minhadiv {height: 250px; width: 194px;}
.imgprd {width:192px;}
.selo   {margin-bottom:14px;}
.contovertt {font-size:17px;}
.contover   {margin-top: 54px;  width: 192px;}
.tt {padding:5px 8px 0 8px; font-size:20px;}