/* o que muda */
.blocomenu  {max-width: 770px; height: 63px;}
.segura     { max-width: 750px; margin: 0 auto;}
.subscribe  { width: 25%;}
.thumb, .thumb-img, .thumb-over, .minhadiv {height: 291px;  width: 242px;}
.imgprd {width:240px;}
.selo   {margin-bottom:54px;}
.contovertt {font-size:20px;}
.contover { margin-top: 55px; height:128px; width: 240px;}
.tt {padding:5px 8px 0 8px; font-size:20px;}