/* o que muda */
.blocomenu  {max-width: 770px; height: 63px;}
.segura     { max-width: 750px; margin: 0 auto;}
.subscribe  { width: 25%;}
.thumb, .thumb-img, .thumb-over, .minhadiv {height: 291px; width: 244px;}
.imgprd {width:242px; border-radius: 5px;}
.selo   {margin-bottom:54px;}
.contovertt {font-size:20px;}
.contover {margin-top:56px;}


