<header data-ng-include="'/modules/core/views/header.client.view.html'" class="navbar navbar-fixed-top navbar-inverse"></header>
<section class="container">

<section data-ng-controller="LandingpagesController">
    
    <div class="row">&nbsp;</div>
    <div class="row">&nbsp;</div>
    
    
    <div class="page-header">
        <h1>Novo Item</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="create()" novalidate>
            
            
            <div data-ng-show="error" class="text-danger">
				<strong data-ng-bind="error"></strong>
			</div>
            
            
            <fieldset>                

                <div class="form-group">
                  <label class="control-label" for="categoria">Categoria</label>
                  <div class="controls">
                    <select class="form-control" name="categoria" data-ng-model="categoria" id="categoria" required>
                        <option value="roupas">Roupas</option>
                        <option value="eletronicos">Eletr&ocirc;nicos</option>
                    </select>
                  </div>
                </div>
                
              <div class="form-group">
                  <label class="control-label" for="nome">Nome</label>
                  <div class="controls">
                    <input name="nome" type="text" class="form-control" data-ng-model="nome" id="nome" placeholder="Nome" required>
                  </div>

                </div> 
                
                <div class="form-group">
                  <label class="control-label" for="link">Link</label>
                  <div class="controls">
                    <input name="link" type="text" class="form-control" data-ng-model="link" id="link" placeholder="URL de acesso a oferta" required>
                  </div>

                </div> 
                
                
                <div class="form-group">
                  <label class="control-label" for="descricao">Descri&ccedil;&atilde;o</label>
                  <div class="controls">
                    <textarea name="descricao" data-ng-model="descricao" id="descricao" cols="30" rows="5" placeholder="Descri&ccedil;&atilde;o" class="form-control" required></textarea>
                  </div>
                </div>

                <div class="form-group">
                  <label class="control-label" for="precoDe">Pre&ccedil;o de</label>
                  <div class="controls">
                      <div class="input-group">
                        <span class="input-group-addon">R$</span>
                        <input name="precoDe" type="text" class="form-control" data-ng-model="precoDe" id="precoDe" placeholder="Pre&ccedil;o sem desconto" required>
                      </div>
                  </div>
                </div>

                <div class="form-group">
                  <label class="control-label" for="precoPara">Pre&ccedil;o para</label>
                  <div class="controls">
                      <div class="input-group">
                        <span class="input-group-addon">R$</span>
                        <input name="precoPara" type="text" class="form-control" data-ng-model="precoPara" id="precoPara" placeholder="Pre&ccedil;o com desconto" required>
                    </div>
                  </div>
                </div>
                
                <div class="form-group">
                  <label class="control-label" for="Imagem">Imagem</label>
                  <div class="controls">
                    <input type="file" data-ng-model="imagem" id="imagem" ng-file-select="onFileSelect($files)" accept="image/*">
                  </div>
                </div>

                <div class="row">&nbsp;</div>
                
                <div class="form-group">
                    <button type="submit" class="btn btn-info">Criar</button>
                </div>
                    
                
                <div class="row">&nbsp;</div>
                <div class="row">&nbsp;</div>
            </fieldset>
        
        </form>
    </div>
</section>
    </section>