

<header data-ng-include="'/modules/core/views/header.client.view.html'" class="navbar navbar-fixed-top navbar-inverse"></header>
<section class="container">

<section data-ng-controller="LandingpagesController">
    
    <div class="row">&nbsp;</div>
    <div class="row">&nbsp;</div>
    
    
    <div class="page-header">
        <h1>Nova Oferta</h1>
    </div>
               
           
    
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="create()" enctype="multipart/form-data" novalidate>
        <div class="jumbotron" >
        
            <fieldset>     
                
                <div class="row">
                    <div class="col-xs-3">
                        <div data-ng-show="error" class="text-danger">
                            <strong data-ng-bind="error"></strong>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-xs-3">                     
                        <div class="form-group">
                            
                            <input type="checkbox" value="false" ng-model="novidade" name="novidade" id="novidade"> <b>Novidades</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                            <input type="checkbox" value="false" ng-model="top" name="top" id="top"> <b>Top Oferta</b>
                              
                        </div>
                    </div>
                </div>


                
                <div class="row">
                    <div class="col-xs-3">
                     
                        <div class="form-group">
                            <label class="control-label" for="categoria">Categoria</label>
                            <select class="form-control" name="categoria" data-ng-model="categoria" id="categoria" required>
                                <option value="roupas">Roupas</option>
                                <option value="eletronicos">Eletr&ocirc;nicos</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-xs-1">&nbsp;</div>
                    <div class="col-xs-8">
                        
                        <div class="form-group">
                            <label class="control-label" for="nome">Nome</label>
                            <input name="nome" type="text" class="form-control" data-ng-model="nome" id="nome" placeholder="Nome" required>
                        </div>
                    </div>
                   
                </div>
 
                

                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label class="control-label" for="link">Link</label>
                            <input name="link" type="text" class="form-control" data-ng-model="link" id="link" placeholder="URL de acesso a oferta" required>
                        </div>
                    </div>
                </div>
                
                
                <div class="row">
                    <div class="col-xs-12">
                
                        <div class="form-group">
                          <label class="control-label" for="descricao">Descri&ccedil;&atilde;o</label>
                            <textarea name="descricao" data-ng-model="descricao" id="descricao" cols="30" rows="3" placeholder="Descri&ccedil;&atilde;o" class="form-control" required></textarea>
                        </div>
                    </div>
                </div>
                
                <div class="row" style="background-color: #CCCCCC; padding-bottom:15px;">
                    <div class="col-xs-4">
                        <label class="control-label" for="descricao">Desconto</label>
                        <div class="input-group">
                            
                            <span class="input-group-addon">%</span>
                            <input name="precoDe" type="text" class="form-control" data-ng-model="desconto" id="deconto" placeholder="Desconto" required>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <label class="control-label" for="descricao">Pre&ccedil;o</label>
                        <div class="input-group">
                            <span class="input-group-addon">R$</span>
                            <input name="precoDe" type="text" class="form-control" data-ng-model="precoDe" id="precoDe" placeholder="Pre&ccedil;o sem desconto" required>

                        </div>
                    </div>
                    <div class="col-xs-4">
                        <label class="control-label" for="descricao">Pre&ccedil;o com desconto</label>
                        <div class="input-group">
                            <span class="input-group-addon">R$</span>
                            <input name="precoPara" type="text" class="form-control" data-ng-model="precoPara" id="precoPara" placeholder="Pre&ccedil;o com desconto" required>

                        </div>
                    </div>
                </div>



                <div class="row">&nbsp;</div>
                

                <div class="row">
                 <div class="form-group">
                        <div class="col-xs-1">
                            <label class="control-label" for="Imagem">Imagem</label>
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="form-group">

                        <div class="col-xs-1" ng-show="showImage">
                            <button ng-click="deleteFile()" type="button" class="btn btn-danger btn-xs">remover</button>
                        </div>

                        <div class="col-xs-11">        
                  
                            <input type="file" name="imagem" id ="imagemId" ng-file-select="onFileSelect($files)"  accept="image/*">
                        
                        </div>
                    </div>

                </div>

                <!-- Preview da imagem -->
                <div class="row" ng-show="showImage">
                    <div ng-if="imagem">

                        <img ng-src="../../../images/{{imagem}}"  class="imgprd" border="0" align="center" />
                    </div>
                </div>


                <div class="row">&nbsp;</div>

                <!-- Progress Bar -->
                <div class="row">
                    <progressbar class="progress-striped" value="loadingImage" type="info">{{loadingImage}}%</progressbar>
                </div>
                
      

            </fieldset>
        
            
            <div class="row">&nbsp;</div>
                                    
            <div class="form-group">
                <button type="submit" class="btn btn-success btn-lg">Cadastrar Oferta</button>
            </div>
        
            </div>
            </form>
        
        
    </div>
</section>
    </section>